@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

#profile-bio {
  margin-top: 10px;
}

.timeline .timeline-item {
  padding-bottom: 1em;
}

.profile-container.column {
  @media (min-width: 768px) {
    width: 50vw;
  }

  @media (min-width: 1280px) {
    width: 30vw;
  }
}
