@import "~bulma";
@import "~bulma-timeline";

.navbar {
  border-bottom: 1px solid #eee;
  margin-bottom: 8px;
}

#profile-bio {
  margin-top: 10px;
}

.timeline .timeline-item {
  padding-bottom: 1em;
}
